.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 3rem;
  flex-wrap: wrap;
}
.buttons .btn--port {
  padding: 0.6rem 2rem;
  background-color: #0381ff5b;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: white;
  margin: 0.7rem;
  border-radius: 0.5rem;

  transition: all 0.3s ease-in-out;
}
.buttons .btn--port:not(:last-child) {
  margin-bottom: 1rem;
}
.buttons .btn--port:hover {
  background-color: #037fff;
}
.buttons .btn--port:active {
  background-color: #037fff;
}
.buttons .btn--port:focus {
  background-color: #037fff;
}

@media screen and (max-width: 1270px) {
  .buttons {
    margin: 2rem 5rem;
  }
}
@media screen and (max-width: 1100px) {
  .buttons {
    margin: 2rem 2rem;
  }
}
