.home--page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.hero--text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
}
.hero--text span {
  color: #037fff;
}
.home--sub--text {
  text-align: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.icon--holder {
  margin-right: 1rem;
}
.icon--holder i {
  font-size: 2.8rem;
  color: #a4acc4;
  transition: all 0.4s ease-in-out;
}
.fa-linkedin-in:hover {
  color: blue;
}
.fa-github:hover {
  color: #333;
}
.fa-instagram:hover {
  color: rgb(131, 58, 180);
}
